extends layouts/login.pug

block login
    h2
        i.fa-solid.fa-book
        |  User Stories
    .divider
    .section
        p.lead
            i Read and share important life stories
    .divider
    .section
        a(href="/auth/google" class="btn blue darken-3")
            i.fab.fa-google.left
            | Login with Google