* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 30rem;
    text-align: center;
}

.divider {
    margin: 8px 0 !important;
}

.card {
    border-radius: 10px;
}